@use "../../../../sass/abstracts/mixins.scss" as *;
@use "../../../../sass/abstracts/variables.scss" as *;

.book-transfer-banner-section {
  padding: 170px 0 48px 0;

  @include respond(xl) {
    padding: 420px 0 48px 0;
  }
}

.banner__content {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: $color-toscha-6;
  border: 1px solid $color-toscha-1;
  border-radius: 12px;
  gap: 20px;
  padding: 24px;

  @include respond(md) {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  &-icon-box {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $color-toscha-5;

    svg {
      width: 24px;
      height: 24px;
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-right: auto;

    &-description {
      color: $color-secondary;
    }
  }

  &-link {
    color: $color-toscha-1;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.5;
    flex: 0 0 100px;

    @include respond(md) {
      flex: 0 0 100%;
    }
  }
}
