@use "../../../sass/abstracts/variables.scss" as *;
@use "../../../sass/abstracts/mixins.scss" as *;

.navbar {
  background-color: $color-navi-1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 23px 72px;

  @include respond(md) {
    padding: 23px 40px;
  }

  @include respond(sm) {
    padding: 23px 20px;
  }

  &__logo {
    width: auto;
    height: 26px;
  }

  &__menu {
    display: flex;
    align-items: center;

    &-item {
      display: flex;
      align-items: center;
      gap: 4px;

      &:not(:last-child) {
        padding: 0 24px;
        border-right: 1px solid $color-navi-3;

        @include respond(md) {
          display: none;
        }
      }

      &:is(:last-child) {
        padding-left: 24px;
        gap: 24px;
      }

      &-icon {
        &[src*="heart.svg"] {
          @include respond(sm) {
            display: none;
          }
        }
      }
    }
  }
}
