@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as *;

.footer {
  background-color: $color-navi-1;

  &-wrapper {
    padding: 96px 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 72px 0;

    @include respond(md) {
      gap: 40px 0;
    }

    @include respond(lg) {
      @include respond(xl) {
        padding: 96px 60px;
      }

      @include respond(md) {
        padding: 96px 40px;
      }

      @include respond(sm) {
        padding: 96px 20px;
      }
    }
  }

  .menus {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(15, minmax(0, 1fr));
    gap: 20px;

    @include respond(md) {
      row-gap: 40px;
    }

    &__link {
      color: $color-white;
      text-decoration: none;
    }

    &__item {
      grid-column: span 3 / span 3;

      @include respond(lg) {
        grid-column: span 5 / span 5;
      }

      &:is(:last-child) {
        grid-column: span 6 / span 6;

        @include respond(lg) {
          grid-column: span 15 / span 15;
          padding: 40px 0;
        }

        @include respond(md) {
          border-top: 1px solid $color-navi-2;
          border-bottom: 1px solid $color-navi-2;
          text-align: center;
        }
      }

      &-title {
        margin-bottom: 24px;
        font-weight: 600;
        line-height: 120%;
        font-size: 2.2rem;

        @include respond(md) {
          margin-bottom: 16px;
          font-size: 1.8rem;
          line-height: 140%;
        }

        &--newsletter {
          @include respond(md) {
            margin-bottom: 8px;
          }
        }
      }

      &-description {
        color: $color-light;
      }

      &-form {
        margin-top: 16px;
        display: flex;
        gap: 10px;

        @include respond(md) {
          flex-direction: column;

          .btn {
            width: 100%;
          }
        }

        &-input {
          width: 100%;
          border-radius: 10px;
          border: 1px solid $color-input;
          padding: 13px 16px;

          &::placeholder {
            color: $color-subtle;
            font-size: 1.4rem;
            line-height: 2.2rem;
          }
        }
      }
    }

    &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      list-style: none;

      &-item {
        color: $color-light;
      }
    }
  }

  .content {
    display: flex;
    justify-content: space-between;

    @include respond(md) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      order: -1;
      gap: 32px;
    }

    .logo {
      @include respond(md) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .copyright {
        margin-top: 16px;

        @include respond(md) {
          margin-top: 8px;
        }
      }
    }

    .social-media {
      display: flex;
      align-items: end;
      gap: 16px;

      &__item {
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 48px;
        border-radius: 50%;
        background-color: $color-navi-2;
        border: none;
        cursor: pointer;

        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}
