@use "../../../../sass/abstracts/mixins" as *;
@use "../../../../sass/abstracts/variables" as *;

.airline-partner {
  &__content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 20px;
    margin-top: 40px;

    @include respond(lg) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include respond(sm) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }

  &__item {
    border: 1.5px solid $color-input;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    padding: 24px;
  }
}
